<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fd.gobondg0">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/stock_exchange_icon"
        android:label="@string/app_name"
        android:name=".BaseApp"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="landscape"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CalculatorActivity"
            android:screenOrientation="landscape" />
        <activity android:name=".ResultActivity"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".ResultDetailedActivity"
            android:label="@string/title_activity_result_detailed"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="landscape"/>
    </application>

</manifest>